body
{
    font-family: Consolas;
    color: yellow;
    background-color: rgb(26, 26, 26);
    margin: 0;
}

textarea
{
    background-color: rgb(70, 70, 70);
    color: rgb(255, 115, 0);
    border: none;
}

textarea:focus {
    outline:  none;
}

table#code
{
    padding: 10px;
    background-color: black;
}

#video
{
    display: flex;
    justify-content: center;
}

#copy
{
    background-color: #00eb7d;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

#convert
{
    background-color: yellow;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

#reset
{
    background-color: rgb(255, 115, 0);
    border-radius: 5px;
    padding: 5px;
    border: none;
}

nav
{
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

/* LINK */
a
{
    color: yellow;
}
a:hover
{
    color: rgb(255, 196, 0);
    transition: 1000ms;
}
a{text-decoration: none;}

.bas
{
    background-color: #161616;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#doc
{
    padding-left: 50px;
}

/* Barre de défilement verticale */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffbb00;
    border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
}
